@model IEnumerable<string>

@foreach (var cat in Model)
{
    <li>
    @Html.RouteLink(cat, "Sorted",
       new
       {
           selectedGame= (string)Session["SelectedGame"],
           categoryName = cat
       },
        new { @class = Html.IsSelected(cat)}
       )
    </li>
}