@model  WebUI.Models.CategoryViewModel

@foreach (var cat in Model.categories)
{
    <li>
    @Html.RouteLink(cat, "Sorted",
       new
       {
           selectedGame= Model.currentGame,
           categoryName = cat
       },
        new { @class = Html.IsSelected(cat)}
       )
    </li>
}