@using WebUI.Models
@model GameCategoryViewModel
<div class="select-games-block category-games">
    <h2>Professional Gaming Boosting Services</h2>
    <div class="games-list">
        <div class="games-list-in">
            @foreach (var game in Model.Games)
            {
                <div class="game-item @game.GameName">

                    <div class="title">@game.GameName</div>
                    <a href="/wow" class="main-link-mobile"></a>
                    <div class="links-list">
                        <a href="/wow" class="main-link">Show Services</a>
                        @foreach (var b in Model.ProductCategories.Where(k => k.Key == game.GameName))
                        {
                            @Html.RouteLink(b.Value, "Sorted",
                           new { selectedGame = game.GameShortUrl, categoryName = b.Value })
                        }
                    </div>
                </div>

            }
            <div class="game-item Heartstone coming-soon">
                <div class="main-link-mobile"></div>
                <div class="title"><span>Heartstone</span></div>
                <div class="desc"><span>Coming soon</span></div>
            </div>
        </div>
     </div>
</div>