@using WebUI.Models
@model GameCategoryViewModel
<div class="select-games-block">
    <h2>Professional Gaming Boosting Services</h2>
    <span>
        WowCarry boosting services have 11 years of experience.<br /> You can buy powerlevelling, mythic+, gearing, PoE currency, achievements, and many more items in WoW, Valorant, PoE, Hearthstone, and other.
        </span>
            <div class="games-list">
                @foreach (string game in Model.Games)
                {
                    <div class="game-item">
                        <img src="@string.Format("/Images/"+game+".png")" alt="@game" />
                        <div class="title"> @game </div>
                        @foreach (var b in Model.ProductCategories.Where(k => k.Key == game))
                        {
                            @Html.RouteLink(b.Value,
                           new { categoryName = b.Value })
                        }
                    </div>
                }
            </div>
</div>