
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="loginLabel">REGISTER WITH</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
 
        <div class="modal-body">
            <form style="position: relative;" class="form-horizontal" id="form33Form">
                <div id="name-box" class="form-group name-box required" data-sort="1">
                    <label class="control-label" style="margin-left:15px" for="name-input">Name/Nickname</label>
                    <div class="col-sm-12">
                        <input type="text" name="firstname" value="" placeholder="" id="name-input" class="form-control">
                    </div>
                </div>
                <div id="email-box" class="form-group email-box required" data-sort="2">
                    <label class="control-label" for="email-input">Email</label>
                    <div class="col-sm-12">
                        <input type="text" name="email" value="" placeholder="" id="email-input" class="form-control">
                    </div>
                </div>
                <div id="password-box" class="form-group password-box required">
                    <label class="control-label" for="password-input">Password</label>
                    <div class="col-sm-12">
                        <input type="password" name="password" value="" placeholder="" id="password-input" class="form-control">
                    </div>
                </div>
                <div id="confirm-box" class="form-group confirm-box required">
                    <label class="control-label" for="confirm-input">Confilm password</label>
                    <div class="col-sm-12">
                        <input type="password" name="confirm" value="" placeholder="" id="confirm-input" class="form-control">
                    </div>
                </div>
                <div id="agree-checkbox" class="form-group agree-checkbox required">
                    <label>
                        <input type="checkbox" name="agree-policy" value="1">
                        I have read and agree to the <a href="/privacy-policy" target="_blank" class="agree-policy"><b>Privacy Policy</b></a>
                    </label>
                </div>
                   
            </form>
        </div>
        <div class="modal-footer">
            <button id="registerModalButton" type="button" data-loading-text="Register" class="btn btn-primary">Register</button>
            <div class="loggin_link"> Have account? <a class="login_link" href="#" data-dismiss="modal" data-toggle="modal" data-target="#loginModal">Login</a> </div>
        </div>
     </div>
</div>



            
