@model WowCarry.Domain.Entities.OrderDetails


@Html.Action("CartView")


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        <div class="form-group">
            <label>@(property.DisplayName ?? property.PropertyName)</label>
            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
        </div>
    }
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Обработать заказ" />
    </div>
}