

<div id="product-complete" class="container">
    <div class="row">
        <div class="message_block">
            <h1>Your order has been placed!</h1>
            <h4>Your order number is : <a href="">Order Num</a></h4>

            <p>You can view your order history in <a href="https://wowcarry.com/my-account">your account</a>.</p>
            <p>You can also contact us via <a href="">online chat</a> if you have any questions about your order.</p>
            <p>In order to ensure the safety of your account, please dont use the game chat to ask questions about your service. </p> 
            <p>Thanks for shopping with us online!</p>
            <div id="warning_piloted_address" class="warning_piloted_address"> As you have selected piloted service, please, make sure you contact us via <a href="javascript:void(Tawk_API.toggle())">online chat</a> right after your purchase to share the account to our pilot</div>
            
            <div class="buttons">
                <a href="" class="btn btn-primary">Continue to Website</a>
                <a href="" class="btn btn-primary">Chat with Us Now</a>
            </div>
        </div>
    </div>
</div>

