@model WowCarry.Domain.Entities.Product

<div id="product-product" class="container">
    <div class="row">
        <div class="product-info-block">
            <div class="image-bg">
                <img src="https://wowcarry.com/image/cache/catalog/Products/Raid/83/fcd913bd47c9f0a329828ccd309e37b6-1600x300.png" alt="Product Name">
            </div>
            <div class="product_left">
                <div class="product_info">
                    <div class="options">OPTIONS</div>

                    <div class="price-info">
                        <div class="price">PRICE</div>

                        <div class="coins_info"> 2.30 <a href="/carrycoins/#carrycoins_system" target="_blank"><b>Carrycoins</b></a> and discounted price for registered users* </div>
                        <div class="reg_info"><a href="#"><b>Sign In</b></a> or <a href="#"><b>Register</b></a> to start saving. </div>
                    </div>
                    <div class="buttons">
                        @using (Html.BeginForm("AddToCart", "Cart"))
                        {
                            <div class="pull-right">
                                @Html.HiddenFor(x => x.ProductId)
                                @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                                <input type="submit" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block" value="Add to Cart" />
                            </div>
                        }
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">Show Modal</button>
                        @*<button type="button" id="button-cart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">Add to Cart</button>*@
                        <button type="button" id="button-tocart" data-loading-text="Loading..." class="btn btn-primary btn-lg btn-block">QUICK PURCHASE</button>
                    </div>

                </div>
                <div class="info-product-coins">
                    * With each purchase registered users get 5% of the price added to their account as <a href="/carrycoins/#carrycoins_system" target="_blank"><b>Carrycoins</b></a> as well as increasing <a href="/carrycoins" target="_blank"><b>discounts</b></a> for regular buyers.
                </div>
                <div class="product-tags">
                    Tags:
                    <a href="">Raid</a>,
                </div>

            </div>
            <!--Product Description-->
            <div class="desc-content">
                <div class="acc-block">
                    <div class="acc-head">
                        <h1 class="product_title">@Model.ProductName</h1>
                    </div>
                    <div class="acc-body description" id="description">
                        Product description
                    </div>
                </div>
                <div class="clear"> </div>

                <div class="sub-desc">
                    <div class="subdescription">
                        <h3>ESTIMATED TIME</h3>
                        Product subdescription 1
                    </div>
                    <div class="subdescription">
                        <h3>REQUIREMENTS</h3>
                        Product subdescription 2
                    </div>
                    <div class="subdescription">
                        <h3>WHAT YOU’LL GET</h3>
                        Product subdescription 3
                    </div>

                </div>
                <div class="clear"> </div>
            </div>
            <div class="clear"> </div>
            <!--end Product Description-->
        </div>

    </div>
</div>
