@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
a {
  color: #131313;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #131313;
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 54px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
img {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
label {
  width: 25%;
  text-align: right;
  font-weight: bold;
  padding-right: 40px;
  display: inline-block;
  vertical-align: middle;
}
input[type=text],
input[type=number],
input[type=password],
select,
textarea {
  border-radius: 25px;
  padding: 9px 20px;
  width: 70%;
  border: 0 none;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  vertical-align: middle;
}
input[type=text]:hover,
input[type=number]:hover,
input[type=password]:hover,
select:hover,
textarea:hover {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
input[type=text]:active,
input[type=number]:active,
input[type=password]:active,
select:active,
textarea:active,
input[type=text]:focus,
input[type=number]:focus,
input[type=password]:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
textarea {
  border-radius: 0;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
aside p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol {
  list-style: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  background: #ffffff;
}
pre {
  display: none;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: none;
}
.cover {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}
.left-column {
  width: 235px;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  z-index: 10;
  background: #3f4d67;
  color: #eeeeee;
}
.left-column ul {
  width: 100%;
  display: block;
}
.left-column ul li {
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
.left-column ul li:first-child a {
  border-top: 1px solid #283142;
}
.left-column ul li:before {
  transition: all 0.3s ease;
  content: '';
  position: absolute;
  top: 1px;
  bottom: 0;
  left: 0;
  right: 100%;
  background: #4fc3f7;
}
.left-column ul li:hover:before {
  right: 0;
}
.left-column ul li a {
  margin-top: -1px;
  position: relative;
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  transition: all 0.5s ease;
  font-size: 20px;
  border-bottom: 1px solid #283142;
}
.left-column ul li a:hover,
.left-column ul li a:active {
  text-decoration: none;
  color: #131313;
}
.left-column ul li a.active {
  background: #283142;
  color: #eeeeee;
  border: 0 none;
}
.left-column a {
  color: #eeeeee;
}
.btn,
button,
input[type="button"],
input[type="submit"] {
  background: #e5f6fe;
  color: #131313;
  display: inline-block;
  padding: 12px 30px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.4s ease;
}
.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.content {
  position: relative;
  left: 0px;
  margin-left: 265px;
  margin-right: 25px;
  transition: all 0.3s;
  outline: none !important;
}
.stat-info {
  display: inline-block;
  width: 30%;
  margin-right: 20px;
  vertical-align: top;
  background: #eeeeee;
  color: #3f4d67;
  height: 300px;
}
.stat-info h2 {
  padding: 15px 20px;
  border-bottom: 1px solid #3f4d67;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.stat-info .info {
  padding: 15px 20px;
  text-align: center;
}
.table {
  border: 0 none;
}
.table th,
.table td,
.table tr,
.table tbody,
.table thead {
  border: 0 none;
}
.table tbody tr {
  position: relative;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.table .title {
  background: #e5f6fe;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}
.table .title th {
  padding: 17px 15px 19px;
}
.table td {
  position: relative;
  padding: 15px;
  vertical-align: middle;
}
.panel-body {
  margin: 30px 0;
}
.tabs {
  position: relative;
}
.tabs .tab-title {
  display: inline-block;
  padding: 10px 40px;
  border: 1px solid #3f4d67;
  border-radius: 25px 25px 0 0;
  position: relative;
  margin-bottom: -1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: rgba(79, 195, 247, 0.3);
}
.tabs .tab-title.active-title {
  border-bottom: 0 none;
  background: #ffffff;
}
.tabs .tab-title.active-title:after {
  content: '';
  bottom: -2px;
  left: 0;
  right: 0;
  height: 3px;
  background: #ffffff;
  position: absolute;
}
.tabs-desc {
  border: 1px solid #3f4d67;
  padding: 20px;
  border-radius: 0 25px 25px 25px;
}
.tabs-desc > div {
  transition: all 0.3s ease;
  display: none;
}
.tabs-desc > div.active-tab {
  display: block;
}
.tabs-desc .description-block {
  margin-bottom: 20px;
  padding-bottom: 30px;
  position: relative;
}
.tabs-desc .description-block:last-child:after {
  opacity: 0;
}
.tabs-desc .description-block:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  opacity: 0.3;
  height: 1px;
  background: #131313;
}
.input-block {
  padding: 15px 0;
  position: relative;
}
.input-block:last-child:after {
  opacity: 0;
}
.input-block:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #131313;
}
.panel-body .dropdown.bootstrap-select {
  width: 70% !important;
}
.panel-body .dropdown.bootstrap-select button {
  background: none;
  outline: none;
}
.panel-body .dropdown.bootstrap-select button:hover:focus {
  outline: none !important;
  background: none;
}
.panel-body .dropdown.bootstrap-select button:hover,
.panel-body .dropdown.bootstrap-select button:active,
.panel-body .dropdown.bootstrap-select button:focus {
  outline: none !important;
  background: none;
}
.panel-body .dropdown.bootstrap-select .dropdown-menu {
  margin-top: -1px;
  margin-bottom: -1px;
  border-radius: 0 0 25px 25px;
  border-top: 0 none;
}
.panel-body .dropdown.bootstrap-select.show .dropdown-toggle:after {
  transform: rotate(270deg);
}
.panel-body .dropdown.bootstrap-select.show button {
  border-radius: 25px 25px 0 0;
}
.panel-body .dropdown.bootstrap-select.show.dropup button {
  border-radius: 0 0 25px 25px;
}
.panel-body .dropdown.bootstrap-select.show.dropup .dropdown-menu {
  border-radius: 25px 25px 0 0;
}
.panel-body .dropdown.bootstrap-select .dropdown-toggle:after {
  transition: all 0.3s ease;
  border: 0 none;
  content: '\f054';
  transform: rotate(90deg);
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  color: #131313;
}
.logo {
  text-align: center;
  margin: 0 0 15px 0;
}
#OptionBlock input {
  margin: 15px 0;
}
#OptionBlock .param {
  padding: 20px 0;
  position: relative;
}
#OptionBlock .param:before {
  height: 1px;
  opacity: 0.3;
  background: #131313;
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  top: -1px;
}
#OptionBlock .param:after {
  content: '';
  position: absolute;
  left: -20px;
  right: -20px;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #131313;
}
.param-list {
  position: relative;
  width: 100%;
}
.param-list .param-titles {
  position: relative;
  width: 100%;
}
.param-list .param-titles:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #131313;
}
.param-list .param-titles > div {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 19%;
  vertical-align: top;
  padding: 20px 10px;
  box-sizing: border-box;
}
.param-list .param-fields {
  position: relative;
  width: 100%;
}
.param-list .param-fields:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #131313;
}
.param-list .param-fields > div {
  font-weight: bold;
  text-align: center;
  display: inline-block;
  width: 19%;
  vertical-align: top;
  padding: 20px 10px;
  box-sizing: border-box;
  position: relative;
}
.options-block {
  position: relative;
  width: 48%;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.options-block:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  opacity: 0.3;
  background: #131313;
}
.options-block .options-body {
  display: none;
}
.options-block .options-body input {
  margin-bottom: 20px;
}
.options-block .options-body .param-fields input,
.options-block .options-body .param-fields select,
.options-block .options-body .param-fields button,
.options-block .options-body .param-fields .dropdown.bootstrap-select {
  margin-bottom: 0;
  width: 100% !important;
}
.options-block .options-body .param-fields .btn {
  padding: 5px 8px;
}
.options-block .options-body .param-fields .dropdown.bootstrap-select button {
  padding: 10px 15px;
}
.options-block .options-head {
  position: relative;
  font-weight: bold;
  padding: 10px 110px 10px 10px;
  text-transform: capitalize;
}
.options-block .options-head:after {
  transition: all 0.3s ease;
  border: 0 none;
  content: '\f054';
  transform: rotate(90deg);
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-size: 16px;
  color: #131313;
  display: inline-block;
  position: absolute;
  right: 50px;
}
.options-block.active_block .options-head:after {
  transform: rotate(-90deg);
}
.newOptions {
  margin: 20px 0;
}
.newOptions .title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.newOptions .option-list {
  width: 300px;
  padding: 10px;
  border-radius: 25px 0 0 25px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  display: inline-block;
}
.newOptions .option-add {
  display: inline-block;
  text-align: center;
  margin-left: -4px;
}
.newOptions .option-add span {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  font-weight: bold;
  display: inline-block;
  background: #e5f6fe;
  color: #131313;
  cursor: pointer;
  border-radius: 0 25px 25px 0;
  transition: all 0.4s ease;
}
.newOptions .option-add span:hover {
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}