@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-U1Ug.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UNirk-VQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
a {
  color: #3f4d67;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #131313;
  font-style: normal;
  font-weight: 600;
}
h1 {
  font-size: 30px;
  margin-bottom: 30px;
  line-height: 54px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 22px;
}
h6 {
  font-size: 20px;
}
img {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
aside p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
nav ul,
nav ol {
  list-style: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
}
pre {
  display: none;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: none;
}
.cover {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  padding-bottom: 60px;
}
.left-column {
  width: 235px;
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0;
  padding-top: 60px;
  z-index: 10;
  background: #3f4d67;
  color: #eeeeee;
}
.left-column ul {
  width: 100%;
  display: block;
}
.left-column ul li {
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
.left-column ul li:last-child a {
  border: 0 none;
}
.left-column ul li:before {
  transition: all 0.3s ease;
  content: '';
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: 0;
  right: 100%;
  background: #4fc3f7;
}
.left-column ul li:hover:before {
  right: 0;
}
.left-column ul li a {
  position: relative;
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 20px;
  border-bottom: 1px solid #4fc3f7;
}
.left-column ul li a:hover,
.left-column ul li a:active {
  text-decoration: none;
}
.left-column a {
  color: #eeeeee;
}
.content {
  position: relative;
  left: 0px;
  margin-left: 265px;
  transition: all 0.3s;
  outline: none !important;
}
.stat-info {
  display: inline-block;
  width: 30%;
  margin-right: 20px;
  vertical-align: top;
  background: #eeeeee;
  color: #3f4d67;
  height: 300px;
}
.stat-info h2 {
  padding: 15px 20px;
  border-bottom: 1px solid #3f4d67;
}
.stat-info .info {
  padding: 15px 20px;
  text-align: center;
}