@model IEnumerable<WowCarry.Domain.Entities.Article>

@foreach (var game in Model.Select(a => a.ProductGame.GameName).Distinct())
{
    var bigArticle = Model.Where(a => a.ProductGame.GameName == game).OrderBy(a => a.ArticlePostTime).FirstOrDefault();

    <h1>@bigArticle.Title</h1>
    <div>@bigArticle.Description</div>

    foreach (var atrticles in Model.Where(a => a.ProductGame.GameName == game).OrderBy(a => a.ArticlePostTime).Take(4).Skip(1))
    {
        <h1>@atrticles.Title</h1>
        <div>@atrticles.Description</div>
    }
}