@model WebUI.Models.TagSearchViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TagSearch</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
