@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');

@o: 'Open Sans', sans-serif;
//@r:'Roboto', sans-serif;
// Заголовки сайта
@h1color: @color2;
@h1fam: @o;
@h1style: normal;
@h1weight: 600;
@hsize: 26px;

//Настройка шрифта на сайте
@font-size: 16px;
@pcol: @color2;
@fontfamcont: @o;
@linkcol: @color1;
@maxwidth: 1600px;

@footer: 334px;
//COLORS//
//main blue
@color1: #6D94C4;
//main text color
@color2: #eee;
//dark blue
@color3: #10111B;
//inactive text
@color4: #425369;
//main-hovered
@color5: #91B9EF;
//inactive bg
@color6: #161828;
//success color
@color7: #00B654;
//danger/error color
@color8: #C03F3F;
//separator
@color9: #1A233B;
//gradient-light
@color10: #212656;
//COLORS//
a{
    color:@color1;
}
h1,h2,h3,h4,h5,h6 {
   color: @h1color;
   font-style: @h1style;
   font-weight: @h1weight;
   text-transform:uppercase;
}
h1 {
    font-size: @hsize;
    text-transform: uppercase;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    line-height: 54px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

h5, h6 {
    font-weight: @h1weight;
}
a {
    color: @linkcol;
}

a:focus {
    outline: none;
}

a:focus, a:hover {
    text-decoration: underline;
    color: @linkcol;
}

div:focus {
    outline: none;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

input, select, button {
    outline: none;
    padding: 0;
    margin: 0;
}

input[type=text], input[type=password] {
    &::placeholder {
        color: @color4;
        opacity: 1;
    }
}

table thead {
    background: @color6;
}

input, select, textarea {
    -webkit-appearance: none;

    &::placeholder {
        color: @color4;
        opacity: 1;
    }
}

.form-control {
    input, select, textarea {
        &::placeholder {
            color: @color4 !important;
            opacity: 1;
        }
    }
}

img {
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}

button {
    cursor: pointer
}

address {
    font-style: normal;
}

aside p {
    margin: 0
}

ul, ol {
    margin: 0;
    padding: 0;
}

nav ul, nav ol {
    list-style: none
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    background: @color3;
}

pre {
    display: none;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    color: @color2;
    background:@color3;
}
.cover {
    margin: 0 auto -334px;
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}
header {
    .top {
        border-bottom: 1px solid @color9;
        padding: 0;
        text-align: center;
    }

    .bottom {
        border-bottom: 1px solid @color9;
        padding: 0;
        text-align: center;
    }
}
#categories {
    border-bottom: 1px solid @color9;
}
.navbar {
    padding: 0;
    position: relative;

    ul {
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: left;

        li {
            display: inline-block;

            a.active {
                background-color: @color10;
            }

            a {
                display: block;
                padding: 21px 16px;
                text-transform: capitalize;
                color: @color2;
                font-family: @o;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                margin: 0;
                position: relative;
                transition: all .5s ease;

                &:focus {
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: none;
                    background-color: @color10;
                }
            }
        }
    }
}

.main-blocks{
    max-width:1600px;
    margin:0 auto;
    position:relative;
    text-align:center;
    line-height:250px;
    margin:20px 0;
    background:@color6;
    text-transform:uppercase;
    font-size:30px;
}

#logo {
    float: left;
    margin: 0 0 0 -5px;
    padding-top: 20px;
    position: relative;
    z-index: 2;

    img {
        width: 149px;
    }
}

.logo_foot {
    float: left;
}
.games-top-menu-block {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color:@color2;
    text-transform:uppercase;
    position:relative;
}
.top_curr {
    margin: 0;
    vertical-align: top;
    display: inline-block;
    padding: 0;
    background: none;
    border: 0 none;
    z-index: 1;
    float:left;

    .links_store, .top_currency {
        background: none;
        border: 0 none;
        border-radius: 100px;
        display: inline-block;

        .btn-link.dropdown-toggle {
            text-transform: uppercase;
        }

        a {
            padding: 10px 10px 10px 20px;
            display: block;
            font-size: 16px;
            font-family: @o;
            color: @color2;
            text-shadow: none;

            &:hover {
                background: @color1;
                color: @color3;
            }
        }
    }

    .pull-left {
        float: none !important;
        padding: 0;
    }
}
.top_curr, .games-top-menu-block {
    margin:0 0 0 15px;
    transition: all 0.3s ease;

    &:hover {
        .hover-button {
            background: @color6;
        }

        .dropdown-menu {
            display: block;
        }

        .fa:before {
            transform: rotate(180deg);
        }
    }
}

.hover-button {
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 22px 32px 22px 12px;
    font-size: 14px;
    font-family: @o;
    color: @color2;
    text-shadow: none;
    text-align: left;
    line-height: 20px;
    transition: all 0.3s ease;

    .fa {
        font-size: 14px;
        right: 12px;
        position: absolute;
        top: 22px;
    }
}
.games-top-menu-block .dropdown-menu {
    width:300px;
}
.dropdown-menu {
    margin: 0;
    background: @color6;
    margin: 0 !important;
    border: 0;
    padding: 0;
    border-radius: 0;
    text-align: left;

    li {
        display: block;

        a, button {
            border-bottom: 1px solid @color9;
            display: block;
            padding: 17px 10px 17px 20px;
            font-size: 16px;
            font-family: @o;
            color: #eee;
            text-shadow: none;
            outline: none;
            transition: all .3s ease;
            text-align: left;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                outline: none;
                color: @color2;
                background: @color10;
            }
        }
    }
}

    .fa:before {
        background: url(https://wowcarry.com/image/catalog/arrow-down.svg) 0 0 no-repeat;
        background-size: 18px;
        width: 18px;
        height: 18px;
        content: '';
        display: block;
        transition: all .2s ease;
    }

    .cart {
        float: right;
        padding: 8px 20px;
        min-height: 33px;
        text-align: center;
        background: none;
        border: 0 none;

        &:hover, &:active {
            background: @color3;
        }

        &:before {
            content: "\f07a";
            font-size: 33px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: @color1;
        }
    }

    .sign_in {
        float: right;
        padding: 8px 20px;
        min-height: 33px;
        margin: 0 20px;
        text-align: center;
        background: none;
        border: 0 none;

        &:hover, &:active {
            background: @color3;
        }

        &:before {
            content: "\f090";
            font-size: 33px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: @color1;
        }
    }

    .search-bar {
        float: right;
        height: 33px;
        margin: 11px 20px 8px;

        .search-btn {
            text-align: center;
            background: none;

            &:hover, &:active {
                background: none;
            }

            &:before {
                content: "\f002";
                font-size: 20px;
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: @color1;
            }
        }
    }

    .container {
        width: 100%;
        max-width: 1600px;
        padding:15px 0;
    }

    .logo_foot {
        float: left;
        height: 48px;
        float: left;
        font-size: 35px;
        line-height: 33px;
        font-weight: bold;
        color: @color1;
        text-decoration: none;
    }

    .main_blocks {
        display: block;
        float: right;
        margin-top: -48px;
    }
    /**Blocks**/
    .choose_block {
        padding-bottom: 25px;
        position: relative;
        margin: 0 auto;
        max-width: 1600px;

        h2 {
            margin: 0 0 50px;
            padding-top: 0;
            text-align: center;
        }

        .choose_block_in {
            text-align: justify;

            &:after {
                width: 100%;
                height: 0px;
                visibility: hidden;
                overflow: hidden;
                content: "";
                display: inline-block;
            }
        }

        .choose_in {
            text-align: center;
            position: relative;
            display: inline-block;
            width: 23%;
            word-wrap: break-word;
            vertical-align: top;
            height: 150px;
            color: @color2;

            .title {
                text-transform: uppercase;
                font-size: 20px;
                color: @color2;
                text-align: center;
                padding-top: 20px;
                font-size: 20px;
                font-family: @o;
            }

            .image {
                z-index: 1;
                height: 120px;
                width: 100%;
                text-align: center;
                display: inline-block;

                &:before {
                    content: "";
                    display: inline-block;
                    min-height: inherit;
                    height: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
    /**purchase_block*/
    .purchase_block {
        padding-top: 0;
        padding-bottom: 25px;

        h2 {
            text-align: center;
            padding-top: 0;
        }

        .purchase_block_in {
            padding-top: 19px;
            text-align: center;

            .purchase_in {
                position: relative;
                width: 15%;
                margin: 0 30px;
                display: inline-block;
                vertical-align: top;

                &:first-child {
                    margin: 0 0 29px 0;
                    width: 100%;
                    display: block;
                    text-align: center;
                }

                .title {
                    font-size: 20px;
                    font-family: @o;
                }

                .text {
                    padding-bottom: 20px;
                }

                .image {
                    padding-bottom: 20px;
                    height: 120px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    height: 4px;
                    width: 170px;
                    top: 77px;
                    right: -118px;
                    transform: rotate(20deg);
                    background: @color9;
                }

                &:nth-child(2) {
                    &:before {
                        transform: rotate(20deg);
                    }
                }

                &:nth-child(3) {
                    padding-top: 60px;

                    &:before {
                        transform: rotate(-20deg);
                    }
                }

                &:nth-child(4) {
                    &:before {
                        transform: rotate(20deg);
                    }
                }

                &:nth-child(5) {
                    padding-top: 60px;

                    &:before {
                        transform: rotate(-20deg);
                    }
                }

                &:nth-child(6), &:nth-child(1) {
                    &:before {
                        height: 0;
                        width: 0;
                    }
                }
            }
        }
    }
.who-we-are {
    padding-top: 0;
    padding-bottom: 25px;

    h2 {
        padding-top: 0;
        padding-bottom: 25px;
        text-align: center;
    }

    .purchase_block_in {
        text-align: justify;
        margin: 0 auto;
        max-width: 1600px;
        position: relative;

        &:after {
            width: 100%;
            height: 0px;
            visibility: hidden;
            overflow: hidden;
            content: "";
            display: inline-block;
        }

        .purchase_in {
            position: relative;
            width: 49%;
            display: inline-block;
            vertical-align: top;
            text-align: center;

            .title {
                font-family: @o;
                font-style: normal;
                font-weight: normal;
                font-size: 35px;
                line-height: 54px;
                padding-bottom: 15px;
                position: relative;
                text-transform: uppercase;
            }

            .text {
                padding-bottom: 50px;
                font-family: @o;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                position: relative;
                text-align: left;
            }

            .image {
                padding-bottom: 20px;
                height: 120px;
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                font-family: @o;
                font-size: 115px;
                font-weight: bold;
                color: @color6;
                line-height: 75px;
                opacity: .5;
            }

            &.weare_box {
                &:before {
                    content: 'WE ARE';
                }
            }

            &.team_box {
                &:before {
                    content: 'OUR TEAM';
                }
            }

            &.orders_box {
                &:before {
                    content: '80,000';
                }
            }

            &.years_box {
                &:before {
                    content: '11 YEARS';
                }
            }
        }
    }
}
/**blocks end***/
footer .title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}

    footer .footer_category li {
        display: block;
        position: relative;
        padding: 0 0 15px;
    }

    footer .footer_category li a {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        position: relative;
    }

    footer .foot_menu li {
        display: block;
        position: relative;
        padding: 0 0 15px;
    }
footer {
    ul li a {
        color: @color2;

        &:hover, &:active {
            color: @color2;
        }

    }
}

.pow {
    font-size: 12px;
    line-height: 16px;
    color: @color2;
    padding: 30px 0 0;
    max-width: 50%;
    position: absolute;
    top: 180px;
}

    .payment_accept {
        position: absolute;
        left: 17px;
        top: 90px;
        z-index: 999;
    }

    #content {
        margin: 0 auto;
        max-width: @maxwidth;
    }

    .clear-footer {
        height: @footer;
    }

    .clear {
        clear: both;
    }

    footer {
        max-width: @maxwidth;
        position: relative;
        padding: 0 17px 0;
        height: @footer;
        color: @color2;
        margin: 0 auto;
        overflow: hidden;
        z-index: 0;
    }

    footer .foot_menu {
        margin: 0;
        padding: 0;
        width: auto;
        float: left;
        vertical-align: top;
        max-width: initial;
    }

    footer .footer_category {
        float: left;
        vertical-align: top;
        padding-left: 80px;
        width: auto;
        max-width: initial;
    }

    .social_footer {
        z-index: 999;
        float: left;
        vertical-align: top;
        padding-left: 80px;
        max-width: initial;
    }

    .product-layout {
        width: 378px;
        overflow: hidden;
        margin-right: 25px;

        .image {
            width: 378px;
            height: 250px;
            background: @color1;
        }

        h4 {
            margin: 10px 0;
        }

        a {
            color: @color2;

            &:hover {
                text-decoration: none;
            }
        }
    }