@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto&display=swap');

@o: 'Open Sans', sans-serif;
//@r:'Roboto', sans-serif;
// Заголовки сайта
@h1color: @color2;
@h1fam: @o;
@h1style: normal;
@h1weight: 600;
@hsize: 30px;

//Настройка шрифта на сайте
@font-size: 16px;
@pcol: @color2;
@fontfamcont: @o;
@linkcol: @color2;
@maxwidth: 1600px;

//Цвета

//main color
@color1: #e5f6fe;
//text color
@color2: #131313;
//dark color
@color3: #3f4d67;
//dark text color
@color4: #eeeeee;
//bg hover
@color5: #4fc3f7;
//bg hover dark
@color6: #283142;
//bg site white
@color7: #ffffff;
a {
    color: @linkcol;
}
h1, h2, h3, h4, h5, h6 {
    color: @h1color;
    font-style: @h1style;
    font-weight: @h1weight;
}

h1 {
    font-size: @hsize;
    margin-bottom: 30px;
    line-height: 54px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 20px;
}

img {
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
}
label {
    width: 25%;
    text-align: right;
    font-weight: bold;
    padding-right: 40px;
    display: inline-block;
    vertical-align:top;
}
input[type=text], input[type=number], input[type=password], select, textarea {
    border-radius: 25px;
    padding: 9px 20px;
    width: 70%;
    border: 1px solid @color2;
    outline: none;
    vertical-align: top;

    &:hover, &:active, &:focus {
        outline: none;
    }
}
textarea {
    border-radius: 0;
}
button {
    cursor: pointer
}

address {
    font-style: normal;
}

aside p {
    margin: 0
}

ul, ol {
    margin: 0;
    padding: 0;
}

nav ul, nav ol {
    list-style: none
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-y: scroll;
    background: @color7;
}

pre {
    display: none;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background:none;
}

.cover {
    margin: 0 auto;
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}
.left-column {
    width: 235px;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    padding-top: 60px;
    z-index: 10;
    background: @color3;
    color: @color4;

    ul {
        width: 100%;
        display: block;

        li {
            display: block;
            position: relative;
            transition: all 0.3s ease;

            &:first-child {
                a {
                    border-top: 1px solid @color6;
                }
            }

            &:before {
                transition: all 0.3s ease;
                content: '';
                position: absolute;
                top: 1px;
                bottom: 0;
                left: 0;
                right: 100%;
                background: @color5;
            }

            &:hover {
                &:before {
                    right: 0;
                }
            }

            a {
                margin-top: -1px;
                position: relative;
                display: block;
                padding: 8px 10px;
                text-decoration: none;
                transition: all 0.5s ease;
                font-size: 20px;
                border-bottom: 1px solid @color6;

                &:hover, &:active {
                    text-decoration: none;
                    color: @color2;
                }

                &.active {
                    background: @color6;
                    color: @color4;
                    border: 0 none;
                }
            }
        }
    }

    a {
        color: @color4;
    }
}

.btn, button, input[type="button"], input[type="submit"] {
    background: @color1;
    color: @color2;
    display: inline-block;
    padding: 12px 30px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    transition: all 0.4s ease;

    &:hover {
        box-shadow: 0px 3px 7px rgba(0,0,0,0.3);
    }
}

.content {
    position: relative;
    left: 0px;
    margin-left: 265px;
    margin-right: 25px;
    transition: all 0.3s;
    outline: none !important;
}

.stat-info {
    display: inline-block;
    width: 30%;
    margin-right: 20px;
    vertical-align: top;
    background: @color4;
    color: @color3;
    height: 300px;

    h2 {
        padding: 15px 20px;
        border-bottom: 1px solid @color3;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    }

    .info {
        padding: 15px 20px;
        text-align: center;
    }
}

.table {
    border: 0 none;

    th, td, tr, tbody, thead {
        border: 0 none;
    }

    tbody tr {
        position: relative;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    }

    .title {
        background: @color1;
        box-shadow: 0px 1px 4px rgba(0,0,0,0.2);

        th {
            padding: 17px 15px 19px;
        }
    }

    td {
        position: relative;
        padding: 15px;
        vertical-align: middle;
    }
}

.panel-body{
    margin:30px 0;
}
.tabs {
    position: relative;

    .tab-title {
        display: inline-block;
        padding: 10px 40px;
        border: 1px solid @color3;
        border-radius: 25px 25px 0 0;
        position: relative;
        margin-bottom: -1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: rgba(@color5, 0.3);

        &.active-title {
            border-bottom: 0 none;
            background: @color7;

            &:after {
                content: '';
                bottom: -2px;
                left: 0;
                right: 0;
                height: 3px;
                background: @color7;
                position: absolute;
            }
        }
    }
}
.tabs-desc {
    border: 1px solid @color3;
    padding: 20px;

    > div {
        transition: all 0.3s ease;
        display: none;

        &.active-tab {
            display: block;
        }
    }

    .description-block {
        margin-bottom: 20px;
        padding-bottom: 30px;
        position: relative;

        &:last-child {
            &:after {
                opacity: 0;
            }
        }

        &:after {
            content: '';
            position: absolute;
            left: -20px;
            right: -20px;
            bottom: 0;
            opacity: 0.3;
            height: 1px;
            background: @color2;
        }
    }
}
.input-block {
    padding: 15px 0;
    position: relative;

    &:last-child {
        &:after {
            opacity:0;
        }
    }

    &:after {
        content: '';
        position: absolute;
        left: -20px;
        right: -20px;
        bottom: 0;
        height: 1px;
        opacity: 0.3;
        background: @color2;
    }
}