@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@o: 'Open Sans', sans-serif;
//@r:'Roboto', sans-serif;
// Заголовки сайта
@h1color: @color2;
@h1style: normal;
@h1weight: normal;
@hsize: 40px;

//Настройка шрифта на сайте
@font-size: 16px;
@pcol: @color2;
@linkcol: @color1;
@maxwidth: 1600px;

@footer: 334px;
//COLORS//
//main blue
@color1: #6D94C4;
//main text color
@color2: #eee;
//dark blue
@color3: #10111B;
//inactive text
@color4: #425369;
//main-hovered
@color5: #91B9EF;
//inactive bg
@color6: #161828;
//success color
@color7: #00B654;
//danger/error color
@color8: #C03F3F;
//separator
@color9: #1A233B;
//gradient-light
@color10: #212656;
//COLORS//
a{
    color:@color1;
}
h1,h2,h3,h4,h5,h6 {
   color: @h1color;
   font-style: @h1style;
   font-weight: @h1weight;
}
h1 {
    font-size: @hsize;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    color: @color2;
    background:@color3;
}
.cover {
    margin: 0 auto -334px;
    position: relative;
    min-height: 100%;
    padding-bottom: 60px;
}
header {
    .top{
        border-bottom:1px solid @color9;
        padding:0;
        text-align:center;
    }
}
#categories {
    border-bottom: 1px solid @color9;
}
.navbar {
    padding: 0;
    position: relative;

    ul {
        max-width: @maxwidth;
        margin: 0 auto;

        li {
            /* &:last-child {
                margin: 0;
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 2px;
                    left: 0;
                    right: 0;
                    bottom: -2px;
                    height: auto;
                    background: @color1;
                    opacity: 1;
                    border-radius: 0;
                    transition: all .5s ease;
                }

                &:hover {
                    &:before {
                        background: @color5;
                    }
                }

                a {
                    display:inline-block;
                    margin: 0;
                    padding: 35px 13px 33px 13px;
                    color: @color3;
                    font-family: @o;
                    font-size: 20px;

                    &:before {
                        opacity: 0;
                    }
                }

                a.active {
                    color: @color3;

                    &:before {
                        opacity: 0;
                    }
                }

                a:hover {
                    text-decoration:none;
                    color: @color3;

                    &:before {
                        opacity: 0;
                    }
                }
            }*/
            a.active {
                text-shadow: 0px 0px 9px @color6;
                color: @color1;

                &:before {
                    left: 0;
                    right: 0;
                    opacity: 1;
                }
            }

            a {
                text-transform: uppercase;
                font-family: @o;
                font-size: 20px;
                color: @color2;
                padding: 35px 0 31px 0;
                margin-right: 30px;
                display: inline-block;
                position: relative;
                transition: all 0.5s ease;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 100%;
                    right: 100%;
                    bottom: -2px;
                    height: 4px;
                    background: @color1;
                    opacity: 0;
                    border-radius: 50px 50px 0 0;
                    transition: all 0.5s ease;
                }

                &:hover {
                    text-decoration: none;
                    color: @color1;

                    &:before {
                        left: 0;
                        right: 0;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.main-blocks{
    max-width:1600px;
    margin:0 auto;
    position:relative;
    text-align:center;
    line-height:250px;
    margin:20px 0;
    background:@color6;
    text-transform:uppercase;
    font-size:30px;
}

.logo {
    float: left;
    font-size: 35px;
    line-height: 33px;
    height: 33px;
    font-weight: bold;
    color: @color1;
    padding: 20px 0;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}
.games-top-menu-block {
    float: left;
    margin: 0 20px;
    padding: 20px;
    height: 33px;
    overflow: hidden;
    font-size: 14px;
    color:@color2;
}
.cart {
    float: right;
    padding: 8px 20px;
    min-height: 33px;
    text-align: center;
    background: none;
    border: 0 none;

    &:hover, &:active {
        background: @color3;
    }

    &:before {
        content: "\f07a";
        font-size: 33px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: @color1;
    }
}
.sign_in {
    float: right;
    padding: 8px 20px;
    min-height: 33px;
    margin: 0 20px;
    text-align: center;
    background: none;
    border: 0 none;

    &:hover, &:active {
        background: @color3;
    }

    &:before {
        content: "\f090";
        font-size: 33px;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
        color: @color1;
    }
}
.search-bar {
    float: right;
    height: 33px;
    margin: 11px 20px 8px;

    .search-btn {
        text-align: center;
        background: none;

        &:hover, &:active {
            background: none;
        }

        &:before {
            content: "\f002";
            font-size: 20px;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: @color1;
        }
    }
}
.container {
    width: 100%;
    max-width: 1600px;
}
.logo_foot {
    float: left;
    height: 48px;
    float: left;
    font-size: 35px;
    line-height: 33px;
    font-weight: bold;
    color: @color1;
    text-decoration: none;
}
.main_blocks {
    display: block;
    float: right;
    margin-top: -48px;
}
footer .title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
}
footer .footer_category li {
    display: block;
    position: relative;
    padding: 0 0 15px;
}

footer .footer_category li a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    position: relative;
}
footer .foot_menu li {
    display: block;
    position: relative;
    padding: 0 0 15px;
}

.pow {
    font-size: 12px;
    line-height: 16px;
    color:@color2;
    padding: 30px 0 0;
    max-width: 50%;
    position: absolute;
    top: 180px;
}
.payment_accept {
    position: absolute;
    left: 17px;
    top: 90px;
    z-index: 999;
}

#content {
    margin: 0 auto;
    max-width: @maxwidth;
}
.clear-footer {
    height: @footer;
}
.clear{
    clear:both;
}
footer {
    max-width: @maxwidth;
    position: relative;
    padding: 0 17px 0;
    height: @footer;
    color: @color2;
    margin: 0 auto;
    overflow: hidden;
    z-index: 0;
}
footer .foot_menu {
    margin: 0;
    padding: 0;
    width: auto;
    float: left;
    vertical-align: top;
    max-width: initial;
}
footer .footer_category {
    float: left;
    vertical-align: top;
    padding-left: 80px;
    width: auto;
    max-width: initial;
}
.social_footer {
    z-index: 999;
    float: left;
    vertical-align: top;
    padding-left: 80px;
    max-width: initial;
}
.product-layout {
    width: 378px;
    overflow: hidden;
    margin-right:25px;
    .image{
        width:378px;
        height:250px;
        background:@color1;
    }
    h4{
        margin:10px 0;
    }
    a {
        color: @color2;
        &:hover {
            text-decoration: none;
        }
    }
}