@model IEnumerable<WowCarry.Domain.Entities.HtmlBlocks>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HtmlBlocks</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create",new { type = "HtmlBlocks" }, new { @class = "btn" })
    </p>
    <table class="table">
        <thead>
            <tr class="title">
                <th>Название</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td> @Html.ActionLink(item.ParentTitle, "Edit", new { Id = item.SiteBlockId, type = item.GetType().BaseType.Name })</td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("GameId", item.SiteBlockId)
                            <input type="submit"
                                   class="btn btn-default btn-xs"
                                   value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
