@model WowCarry.Domain.Entities.ProductOptionDetails

@foreach (var property in ViewData.ModelMetadata.Properties)
{
    if (property.PropertyName == "ParamCollection")
    {
        foreach (var item in Model.ParamCollection)
        {
            <div class="param">
            @Html.EditorFor(x=>item)
            </div>
        }
    }
    else
    {
        <label>@(property.DisplayName ?? property.PropertyName):</label>
        @Html.Editor(property.PropertyName, new { @class = "form-control" })
    }

}


