@RenderPage("~/Views/Shared/_Header.cshtml")

<div id="common-home" class="container">
    <div class="row">
        <div id="content">
            <div class="main-blocks select-games-block">PICK YOUR GAME</div>
            <div class="main-blocks choose_block">WHY CHOOSE US</div>
            <div class="main-blocks rewiew_block">review</div>
            <div class="main-blocks purchase_block">HOW OUR SERVICE WORKS</div>
            <div class="main-blocks bonuses_block">5% CASHBACK AND INCREASING DISCOUNTS</div>
            <div class="main-blocks who-we-are">WHO WE ARE</div>
            <div class="main-blocks news-block">LATEST NEWS</div>
            <div class="main-blocks contact_us">HAVE QUESTIONS? CONTACT US!</div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/_Footer.cshtml")
