<div class="clear-footer"></div>
    </div>

<footer>
   
        <div class="container">
            <div class="row">
                <div class="logo_foot">
                    <a href="">WowCarry.com</a>
                </div>

                <div class="clear"></div>
                <span class="main_blocks">
                    <div class="col-sm-3 foot_menu">
                        <div class="title">Information</div>
                        <ul class="list-unstyled">
                            <li><a href="https://wowcarry.com/about">ABOUT US</a></li>
                            <li><a href="https://wowcarry.com/contacts">CONTACTS</a></li>
                            <li><a href="https://wowcarry.com/faq">F.A.Q.</a></li>
                            <li><a href="https://wowcarry.com/privacy-policy">PRIVACY POLICY</a></li>
                            <li><a href="https://wowcarry.com/terms">TERMS &amp; CONDITIONS</a></li>
                            <li><a href="https://wowcarry.com/carrycoins">CARRYCOINS</a></li>
                            <li><a href="https://wowcarry.com/jobs">JOBS</a></li>
                        </ul>
                    </div>

                    <div class="col-sm-3 footer_category">
                        <div class="title">Games</div>
                        @Html.Action("GameMenu", "Navigation")
                    </div>

                    <div class="social_footer">
                        <div class="title">Social links</div>
                        
                    </div>
                </span>
                <div class="clear"></div>
                <div class="pow">
                    <p>WowCarry.com - Ingame boosting services 2020 ©</p>
                    <p>All trademarks referenced herein are the properties of their respective owners.</p>
                </div>
                <div class="payment_accept">
                    <div class="title">Payments we accept:</div>
                </div>
            </div>
        </div>
</footer>
</body>
</html>