<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/Styles.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    

    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="cover">
        <header>
            <div class="top">
                <div id="content">
                    <div class="logo"><a href="/">WowCarry</a></div>


                    <div class="games-top-menu-block">
                        <div class="hover-button">
                            <div class="no-category" style="display: inline-block;">SELECT GAME</div>
                            <i class="fa"></i>
                        </div>
                        <ul class="dropdown-menu">
                            @Html.Action("GameMenu", "GameNav")
                        </ul>
                    </div>

                    <div class="top_curr">
                        <div class="top_currency">
                            <div class="pull-left">
                                <form action="" method="post" enctype="multipart/form-data" id="form-currency">
                                    <div class="btn-group">
                                        <div class="hover-button">
                                            <span> Europe </span>
                                            <i class="fa"></i>
                                        </div>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="EUR">Europe</button>
                                            </li>
                                            <li>
                                                <button class="currency-select btn btn-link btn-block" type="button" name="USD">US&amp;Oceania</button>
                                            </li>
                                        </ul>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary cart"></button>
                    <button class="btn btn-primary sign_in"></button>
                    <form action="" class="search-bar">
                        <input type="search" name="search" pattern=".*\S.*" required>
                        <button class="btn btn-primary search-btn" type="submit">
                        </button>
                    </form>
                    <div class="clear"></div>

                    <div class="navbar" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            @Html.Action("Menu", "Nav")
                        </ul>
                    </div>





                </div>
            </div>
        </header>
