@RenderPage("~/Views/Shared/_Header.cshtml")

<div id="product-detales" class="container">
    <div class="row">
        <div id="content">
            
            <div class="main-blocks">PRODUCT DETALES</div>
        </div>
    </div>
</div>

@RenderPage("~/Views/Shared/_Footer.cshtml")
