@model WowCarry.Domain.Entities.Product

<div class="product-layout d-inline-block">
    <div class="product-thumb">
        <div class="image">
            <a href="#">
                <img src="#" alt="Alternate Text" />
                <div class="clear"></div>
            </a>
        </div>
        <div class="caption">
            <a href="#">
                <h4>@Model.ProductName</h4>
                <p class="price">
                    @Model.ProductPrice.Select(p => p.Price).FirstOrDefault()
                </p>
            </a>
            @using (Html.BeginForm("AddToCart", "Cart"))
            {
                <div class="pull-right">
                    @Html.HiddenFor(x => x.ProductId)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" class="btn btn-success" value="Добавить в корзину" />
                </div>
            }
        </div>
    </div>
</div>
