@using WowCarry.Domain.Entities
@model Product

<div class="product-layout d-inline-block">
    <div class="product-thumb">
        <a href="@Url.Action("Details","ProductDetails",new {productUrl= Model.ProductCEO.UrlKeyWord})">
            <div class="image">
                <img src="#" alt="Alternate Text" />
                <div class="clear"></div>
            </div>
            <div class="caption">
                <h4>@Model.ProductName</h4>
                <p class="price">
                    @Model.ProductPrice.Select(p => p.Price).FirstOrDefault()
                </p>
            </div>
        </a>
    </div>
</div>
